
.contenedor-principal {
    display: flex;
    /*padding: 5px; superior, derecho, inferior, izquierdo */
}

nav {
    background-color: yellow;
    flex: 1 1 20%;
    height: 94vh;
    padding: 2em 0 0 2em;
}

.contenedor-secundario {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    padding: 5px;
}

header {
    background-color: yellow;
    flex: 1 1 15%;
    padding: 2em 0 0 2em;
}

.main {
    flex: 1 1 75%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

footer {
    padding: 2em 0 0 2em;
    background-color: yellow;
    flex: 1 1 10%;
}

.contenido {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em 0 0;
}

aside {
    padding: 2em 0 0 2em;
    background-color: yellow;
    flex: 1 1 20%;
}

.top-section {
    padding: 2em 0 0 2em;
    background-color: yellow;
    flex: 1 1 50%;
    margin-bottom: 10px;
}
.bootom-section {
    padding: 2em 0 0 2em;
    background-color: yellow;
    flex: 1 1 50%;
}